header {
    width: 100%;
    background: rgba(21, 21, 21, 0.48);
    font-family: 'Roboto', sans-serif;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: 0.8s ease-in-out;
}
.header-container {
width: 95%;
height: 90%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
text-transform: uppercase;
}
.sticky {
    background: white;
    height: 100px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
}
.sticky a {
    color: black;
}
.sticky .burger > * {
    background-color: black;
}
.sticky .header-container .logo-header {
    height: 100%;
    width: 10%;
    background-image: url(../images/logo-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header-container .logo-header {
    height: 100%;
    width: 10%;
    background-image: url(../images/logo-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.header-container ul li {
    display: inline;
    padding: 0 5px;
    margin: 0 8px;
    font-size: 20px;
    font-weight: 400;
}
.header-container ul li:nth-child(5){
    border-right: 1px solid black;
    margin-right: 3px;
}
.header-container ul li a:hover{
   color:#D79311 ;
}

/* Mobile Nav */
.burger {
    width: 20%;
    padding: 20px 0;
    display: none;
    float: right;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-1px, 0px); ;
    transform: rotate(-45deg) translate(-1px, 0px);
  }
  

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
  @media (max-width:980px) {
      .burger {
          display: inline;
      }
      .nav-bar {
          display: none;
      }
      header {
          height: 95px;
      }
      header .header-container img {
          width: 70%;
      }
  }